<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/lyrics"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--Lyrics-->
        <activity android:name="com.example.finalproject.Combine">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="com.example.finalproject.LyricsSavedSongArtist" />

        <activity android:name="com.example.finalproject.LyricsText" />

        <activity android:name="com.example.finalproject.SongLyricsInfo" />
        <activity android:name="com.example.finalproject.LyricsMainActivity" />

        <!--        Soccer-->

        <activity android:name="com.example.finalproject.savedDetail" />
        <activity android:name="com.example.finalproject.MainActivity">

        </activity>
        <activity android:name="com.example.finalproject.Detail" />
        <activity android:name="com.example.finalproject.Favorite" />


        <!--    Deezer-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.example.finalproject.DeezerMainActivity" />

        <activity android:name="com.example.finalproject.DeezerSavedSongsList" />
        <activity android:name="com.example.finalproject.DeezerSavedSongDetailText" />
        <activity android:name="com.example.finalproject.DeezerSongDetail" />
        <activity android:name="com.example.finalproject.DeezerSongInfo" />

        <!--        Geo data-->

        <activity android:name="com.example.finalproject.GeoMainActivity" />

        <activity android:name="com.example.finalproject.GeoSavedCityList" />
        <activity android:name="com.example.finalproject.GeoSavedCityDetailText" />
        <activity android:name="com.example.finalproject.GeoCityDetail" />
        <activity android:name="com.example.finalproject.GeoDataInfo" />
    </application>
</manifest>